#General SERVIDOR
APP_URL= //Definir URL do servidor
APP_PORT= //Definir porta do servidor
APP_VERSION= //Definir versão da API
APP_NAME= //Definir nome da API

# Auth
APP_SECRET= //Criar chave secreta
TOKEN_TIME_EXPIRE= //Definir tempo de expiração do token

# Database
DB_NAME= //Definir nome do banco de dados
DB_USER= //Definir usuário do banco de dados
DB_PASS= //Definir senha do banco de dados
DB_HOST= //Definir host do banco de dados
DB_PORT= //Definir porta do banco de dados
DB_URL= //Definir URL do banco de dados
